.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 6rem;
  min-height: 100vh;
}

.wrapper1 {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // border-style: solid;
}

.wrapper2 {
  height: 60vw;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border-style: solid;
}

.wrapper3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 1rem;
  padding: 2rem;
}

.form {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // border-color: green;
  // border-style: solid;
  text-align: center;
  // border-style: solid;
  // padding: 1rem;
}

.input {
  // padding: 1rem;

  margin: 0.5rem;
}

.form > * {
  margin: 1rem;
}

.button {
  background: rgba(255, 255, 255, 0);
  border-color: var(--color-white);
  border-style: solid;
  font-family: inherit;
  color: var(--color-white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  border-style: outset;
}

.button:active {
  border-style: inset;
}
