.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 6rem;
  min-height: 100vh;
}

.wrapper1 {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.h1 {
  position: absolute;
  top: center;
  left: center;
  padding: 1rem;
  // border-style: solid;
  z-index: 1000;
  pointer-events: none;
  animation: color_change 2s 1;
  text-align: center;
}

.sub {
  margin-top: 0.3rem;
  font-size: small;
}

@keyframes color_change {
  from {
    color: black;
  }

  to {
    color: white;
  }
}

.button {
  background: rgba(255, 255, 255, 0);
  border-color: var(--color-white);
  border-style: solid;
  font-family: inherit;
  color: var(--color-white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  border-style: outset;
}

.button:active {
  border-style: inset;
}

.h1 {
}

// .image {
//   max-width: 50vw;
//   max-height: 60vh;
//   object-fit: contain;
//   position: 'relative';
//   margin: 2rem;
//   border-style: solid;
//   border-color: black;
// }
